@use "fonts";
@use "colors";
@use "breakpoints";

:root {
  font-size: fonts.$base_size;
  font-family: fonts.$barlow_condensed;
}

body {
  background-color: colors.$background;
  // background-image: url("~/assets/images/background-home-desktop.jpg");
  color: colors.$foreground;
}

.page {
  padding: 2rem min(10rem, 8vw);

  @media (max-width: breakpoints.$mobile) {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }
}
