@use "colors";
@use "fonts" as *;

@each $key, $size in $sizes {
  .#{$key} {
    font-size: $size;
  }
}

.fade {
  color: colors.$text;
}

.barlow {
  font-family: $barlow;
}

.bellefair {
  font-family: $bellefair;
}

.upper {
  text-transform: uppercase;
}

.page-title {
  letter-spacing: 4.72px;

  span {
    color: rgba(255, 255, 255, 0.25);
    font-weight: 700;
  }
}
