.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.btwn {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.around {
  justify-content: space-around;
}

.flex-end {
  align-items: flex-end;
}

.divider {
  align-self: stretch;
  height: 1px;
  background-color: #383b4b;
}
