.crew {
  padding-bottom: 0;

  @media (min-width: 70rem) {
    margin-inline: 5vw;
  }

  & > .column {
    align-self: stretch;
    padding-bottom: 2rem;
  }

  .details {
    gap: 1rem;

    .title {
      margin-bottom: 1rem;
    }

    .bio {
      max-width: 43ch;
    }
  }

  .image {
    max-height: 75vh;
    align-self: flex-end;
  }

  .indicators {
    display: flex;
    gap: 2rem;

    .indicator {
      width: 1rem;
      height: 1rem;
      background-color: #fff;
      border-radius: 100vmax;
      opacity: 0.17;

      &.active {
        opacity: 1;
      }
    }
  }
}
