@use "../colors";

.destination {
  gap: 3rem;

  .page-title {
    letter-spacing: 4.72px;

    span {
      color: rgba(255, 255, 255, 0.25);
      font-weight: 700;
    }
  }

  > .row {
    align-items: flex-end;
  }

  .details {
    gap: 1.5rem;
    max-width: 62ch;

    .tabs {
      gap: 1.5rem;
      margin-bottom: 0.5rem;

      .tab {
        padding-block: 1rem;
        cursor: pointer;
        transition: 300ms;
        letter-spacing: 2.7px;

        &.active {
          border-bottom: solid 3px #ffffff;
          padding-bottom: calc(1rem - 3px);
          color: colors.$foreground;
        }

        &:hover {
          border-bottom: solid 3px rgba(255, 255, 255, 0.5);
          padding-bottom: calc(1rem - 3px);
        }
      }
    }

    .lg {
      line-height: 2rem;
    }

    .divider {
      margin-top: 1.5rem;
    }

    .metrics {
      gap: 5rem;
      margin-top: 0.25rem;

      .column {
        gap: 1rem;

        .sm {
          letter-spacing: 2.36px;
        }
      }
    }
  }
}
