@use "../breakpoints";

#navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  padding-right: 0;

  .menu-icon,
  .close-icon {
    display: none;
  }

  nav {
    padding: 2rem 10rem 2rem 7.5rem;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5rem);

    @media (max-width: breakpoints.$tablet) {
      padding: 2rem 5rem 2rem 2.5rem;
    }

    ol {
      display: flex;
      gap: 2rem;

      .link {
        padding-block: 2rem;
        transition: 300ms;
        white-space: nowrap;

        span {
          margin-right: 0.5rem;
          font-weight: 700;
        }

        &.active {
          border-bottom: solid 3px #ffffff;
          padding-bottom: calc(2rem - 6px);
        }

        &:hover:not(.active) {
          border-bottom: solid 3px rgba(255, 255, 255, 0.5);
          padding-bottom: calc(2rem - 6px);
        }
      }
    }
  }

  @media (max-width: breakpoints.$mobile) {
    padding: 1.5rem;

    .menu-icon {
      display: inline-flex;
    }

    nav {
      position: fixed;
      z-index: 2;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 7.5rem 5rem 2rem 3rem;

      &.hideNav {
        display: none;
      }

      .close-icon {
        display: block;
        position: fixed;
        z-index: 3;
        right: 1.5rem;
        top: 2.25rem;
      }

      ol {
        flex-direction: column;
        gap: 3rem;

        .link {
          letter-spacing: 2.7px;
          &.active {
            padding-bottom: 1rem;
          }

          &:hover:not(.active) {
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}
