@use "../breakpoints";

.technology {
  margin-left: 5vh;
  padding-right: 0;
  gap: 2rem;

  @media (max-width: breakpoints.$tablet) {
    gap: 5rem;
    padding-left: 0;
    margin-left: 0;
    @media (max-width: breakpoints.$mobile) {
      gap: 3rem;
    }

    .page-title {
      margin-left: 12vh;
      @media (max-width: breakpoints.$mobile) {
        margin-left: 0;
      }
    }

    .sm-gap {
      gap: 3rem;
      @media (max-width: breakpoints.$mobile) {
        gap: 1.5rem;
      }
    }
  }

  .tabs {
    gap: 2rem;

    @media (max-width: breakpoints.$tablet) {
      flex-direction: row;
      gap: 1rem;
      order: 1;
    }

    .tab {
      width: 5rem;
      height: 5rem;
      border: rgba($color: #ffffff, $alpha: 0.25) solid 1px;
      border-radius: 100vmax;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @media (max-width: breakpoints.$tablet) {
        width: 3rem;
        height: 3rem;
      }

      @media (max-width: breakpoints.$mobile) {
        width: 2.5rem;
        height: 2.5rem;
      }

      &.active {
        border: none;
        background: #fff;
        color: #000;
      }
    }
  }

  .details {
    gap: 1rem;
    @media (max-width: breakpoints.$tablet) {
      order: 2;
    }

    .title {
      margin-bottom: 1rem;
    }

    .description {
      max-width: 43ch;
      @media (max-width: breakpoints.$tablet) {
        max-width: 48ch;
        padding-inline: 2rem;
      }
    }
  }

  .image {
    max-height: 65vh;

    @media (max-width: breakpoints.$tablet) {
      order: 0;
      align-self: stretch;
      object-fit: cover;
    }
  }
}
